body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

img {
    max-width: 80%;
    margin-top: 20px;
}

.contenido {
    margin: 20px;
}

iframe {
    width: 80%;
    height: 600px;
    border: none;
}
