body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

img {
    max-width: 80%;
    margin-top: 20px;
}

.contenido {
    margin: 20px;
}

iframe {
    width: 80%;
    height: 600px;
    border: none;
}
    
.boton {
    display: inline-block;
    background-color: #6c6c6c; /* Gris oscuro */
    color: white;
    padding: 16px 32px;
    font-size: 20px;
    border-radius: 6px;
    text-decoration: none;
    margin-top: 20px;
    transition: 0.3s;
}

.boton:hover {
    background-color: #4a4a4a; /* Gris más oscuro al pasar el mouse */
}
    
